# EmKa Academy

#### Burada Kullanılan Datalar Data School tarafından sağlanmıştır. Bu dataları ücretsiz bir şekilde sağladığı için https://github.com/justmarkham teşekkürler...

# Exercise 6

### Step 1. Gerekli Kütüphaneleri Import Edin

In [1]:
import numpy as np
import pandas as pd

### Step 2. Gerekli datasetini doğrudan yandaki linkten import edin [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 

Not : pd.read_csv() içine argüman olarak link verebilirsiniz. .tsv uzantılı olduğu için boşluklarla ayrıldığına bu yüzden sep = '\t' parametresi kullanmanız gerektiğine dikkat ediniz.

### Step 3. chipo adında bir dataframe ismine eşitleyelim

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' , sep = '\t')

### Step 4. İlk 10 gözlemi görelim

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. Datasetindeki toplam gözlem sayısını bulalım.

In [4]:
chipo.shape[0]

4622

In [5]:
len(chipo)

4622

### Step 6. Datasetindeki toplam column sayısını bulalım.

In [6]:
chipo.shape[1]

5

### Step 7. Bütün columnların isimlerini yazdıralım.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. Dataseti nasıl indexlenmiş ?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. En çok sipariş edilen ürün hangisi ?

In [17]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. En çok sipariş edilen ürün toplamda kaç defa sipariş edilmiş ?

In [11]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [21]:
chipo.groupby('item_name').sum().sort_values('quantity' , ascending = False).head(1)

<ipython-input-21-658bc6b1ad31>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby('item_name').sum().sort_values('quantity' , ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. 'choice_description' sütununda en çok sipariş edilen ürün hangisi ?

In [16]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. Toplamda kaç tane sipariş verilmiş ?

In [20]:
chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending = False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 13. item price sütununun dtype'ını float'a çevireceğiz

#### Step 13.a. Önce bi item price'ın başlangıçtaki type'ını kontrol edin.

In [22]:
chipo['item_price'].dtype

dtype('O')

In [23]:
# chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### Step 13.b. Lambda fonksiyonunu kullanarak item price'ın içindeki bütün değerlerin type'ını float yapın.

In [24]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [27]:
chipo['item_price'] = chipo['item_price'].apply(lambda x : x[1:-1])

In [29]:
chipo['item_price'] = chipo['item_price'].astype('float32')

#### Step 13.c. item price'ın type'ını kontrol edin

In [30]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float32
dtypes: float32(1), int64(2), object(2)
memory usage: 162.6+ KB

### Step 14. Datasetteki aralıklarda toplamda ne kadar para kazanılmış ?

In [31]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [32]:
chipo['item_price'].sum()

34500.16

### Step 15. Datasetteki aralıkta toplam ne kadar sipariş verilmiş ?

In [33]:
chipo['order_id'].nunique()

1834

### Step 16. Sipariş başına kazanılan ortalama para ne kadar ?

In [34]:
# Çözüm 1
chipo['item_price'].sum() / chipo['order_id'].nunique()

18.811428656624862

In [40]:
# Çözüm 2
chipo.groupby('order_id').sum().mean()['item_price']

<ipython-input-40-5bbfb6b9b886>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby('order_id').sum().mean()['item_price']

18.81142807006836

### Step 17. Kaç tane farklı ürün satılmış ?

In [37]:
chipo['item_name'].nunique()

50

In [ ]:
# Done.