# EmKa Academy

#### Burada Kullanılan Datalar Data School tarafından sağlanmıştır. Bu dataları ücretsiz bir şekilde sağladığı için https://github.com/justmarkham teşekkürler...

# Exercise 5

### Step 1. Gerekli Kütüphaneleri Import Edin

In [1]:
import numpy as np
import pandas as pd

### Step 2. Gerekli datasetini doğrudan yandaki linkten import edin [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). 

Not : pd.read_csv() içine argüman olarak link verebilirsiniz. Bu datasetimizin farklı şekilde bölündüğünü ve sep = '|' parametresi kullanmanız gerektiğine dikkat ediniz.

### Step 3. 'users' adında bir dataframe ismine eşitleyelim

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user' , sep = '|')

### Step 4. İlk 25 kaydı yazdıralım

In [3]:
users.head(25)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### Step 5. Son 10 kaydı yazdıralım

In [4]:
users.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### Step 6. Datasetteki toplam kayıt sayısını bulalım.

In [5]:
users.shape[0]

943

### Step 7. Datasetteki toplam sütun sayısını bulalım

In [6]:
users.shape[1]

5

### Step 8. Datasetteki bütün sütun isimlerini yazdıralım

In [7]:
users.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. Datasetindeki gözlemler nasıl indexlenmiş ?

In [8]:
users.index

RangeIndex(start=0, stop=943, step=1)

### Step 10. Her bir sütunun datatype'ı nasıl ?

In [9]:
users.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [11]:
# users.info()

### Step 11. Sadece 'occupation' sütununu yazdıralım

In [12]:
# +

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

In [13]:
users['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### Step 12. Datasetimizde kaç farklı iş(occupation) var ?

In [16]:
users['occupation'].nunique()

21

In [18]:
# len(users['occupation'].unique())

21

In [20]:
# len(users['occupation'].value_counts())

21

### Step 13. En yaygın iş hangisi ?

In [23]:
users['occupation'].value_counts().index[0]

'student'

### Step 14. Datasetimizin numeric sütunlarının istatistiksel özetine bakalım

In [24]:
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### Step 15. Datasetimizin bütün sütunlarının istatistiksel özetine bakalım

In [28]:
users.describe(include = 'all')

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

### Step 16. Sadece 'occupation' sütununun istatistiksel özetine bakalım

In [26]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. Datasetindeki kayıtlı kullanıcıların yaşları ortalamasını bulalım

In [29]:
users['age'].mean()

34.05196182396607

### Step 18. En az görülen 5 tane yaşı bulalım

In [31]:
users['age'].value_counts().tail(5)

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

In [ ]:
# Done