# Concatenate(Birleştirme)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Concatenate işlemi basitçe birleştirmedir.
# Dataframeleri alt alta ya da yan yana birleştirmekten ibarettir.

In [ ]:
data_1 = {'isim' : ['Emincan' , 'Aslı' , 'Derya' , 'Burak'] , 'yas' : [26,24,39,21]}
data_2 = {'isim' : ['Onur' , 'Kerem' , 'Mert' , 'Pelin'] , 'yas' : [20,16,34,30]}
data_3 = {'il' : ['Rize' , 'İstanbul' , 'Ordu' , 'Ankara'] , 'meslek' : ['Öğretmen','Doktor','Bakıcı','Yazılımcı']}

In [ ]:
df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)
df_3 = pd.DataFrame(data_3)

In [ ]:
df_1

      isim  yas
0  Emincan   26
1     Aslı   24
2    Derya   39
3    Burak   21

In [ ]:
df_2

    isim  yas
0   Onur   20
1  Kerem   16
2   Mert   34
3  Pelin   30

In [ ]:
pd.concat([df_1 , df_2] , axis = 0).reset_index(drop=True)

      isim  yas
0  Emincan   26
1     Aslı   24
2    Derya   39
3    Burak   21
4     Onur   20
5    Kerem   16
6     Mert   34
7    Pelin   30

In [ ]:
pd.concat([df_1 , df_2] , axis = 1) # Mantıksız

      isim  yas   isim  yas
0  Emincan   26   Onur   20
1     Aslı   24  Kerem   16
2    Derya   39   Mert   34
3    Burak   21  Pelin   30

In [ ]:
df_1

      isim  yas
0  Emincan   26
1     Aslı   24
2    Derya   39
3    Burak   21

In [ ]:
df_3

         il     meslek
0      Rize   Öğretmen
1  İstanbul     Doktor
2      Ordu     Bakıcı
3    Ankara  Yazılımcı

In [ ]:
pd.concat([df_1 , df_3] , axis = 1)

      isim  yas        il     meslek
0  Emincan   26      Rize   Öğretmen
1     Aslı   24  İstanbul     Doktor
2    Derya   39      Ordu     Bakıcı
3    Burak   21    Ankara  Yazılımcı

In [ ]:
# Done.