# Merge

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Merge işlemi 4 adettir. (inner , outer , left , right)
# SQL'deki join işlemine benzer bir mantıkta df'leri birleştirmeye yarar.
# Sütun bazlı birleştirme yapılır. Ortak bir sütun olması gerekir.

In [ ]:
data_1 = {'kayıt_id' : [1,2,3,4] , 'isim' : ['Onur','Burak' , 'Pelin' , 'Ilgın']}
data_2 = {'giris_id' : [1,2,3,4] , 'isim' : ['Alper','Ilgın' , 'Onur' , 'Emincan']}

In [ ]:
df1 = pd.DataFrame(data_1)
df2 = pd.DataFrame(data_2)

In [ ]:
df1

   kayıt_id   isim
0         1   Onur
1         2  Burak
2         3  Pelin
3         4  Ilgın

In [ ]:
df2

   giris_id     isim
0         1    Alper
1         2    Ilgın
2         3     Onur
3         4  Emincan

In [ ]:
pd.merge(how = 'inner' , left = df1 , right = df2 )

   kayıt_id   isim  giris_id
0         1   Onur         3
1         4  Ilgın         2

In [ ]:
pd.merge(how = 'left' , left = df1 , right = df2 )

   kayıt_id   isim  giris_id
0         1   Onur       3.0
1         2  Burak       NaN
2         3  Pelin       NaN
3         4  Ilgın       2.0

In [ ]:
# pd.merge(how = 'left' , left = df2 , right = df1 )

pd.merge(how = 'right' , left = df1 , right = df2 )

   kayıt_id     isim  giris_id
0       NaN    Alper         1
1       4.0    Ilgın         2
2       1.0     Onur         3
3       NaN  Emincan         4

In [ ]:
pd.merge(how = 'outer' , left = df1 , right = df2 )

   kayıt_id     isim  giris_id
0       1.0     Onur       3.0
1       2.0    Burak       NaN
2       3.0    Pelin       NaN
3       4.0    Ilgın       2.0
4       NaN    Alper       1.0
5       NaN  Emincan       4.0

In [ ]:
df1

   kayıt_id   isim
0         1   Onur
1         2  Burak
2         3  Pelin
3         4  Ilgın

In [ ]:
df2.rename(columns={'isim' : 'name'} , inplace = True)

In [ ]:
df1

   kayıt_id   isim
0         1   Onur
1         2  Burak
2         3  Pelin
3         4  Ilgın

In [ ]:
df2

   giris_id     name
0         1    Alper
1         2    Ilgın
2         3     Onur
3         4  Emincan

In [ ]:
pd.merge(how = 'inner' , left = df1 , right = df2 , left_on= 'isim' , right_on = 'name')

   kayıt_id   isim  giris_id   name
0         1   Onur         3   Onur
1         4  Ilgın         2  Ilgın

In [ ]:
# Done.